Debug
Release
out
packer
resource.nws
test
.vs
*.d
*.slo
*.lo
*.o
*.obj
*.gch
*.pch
*.so
*.dylib
*.mod
*.smod
*.lai
*.la
*.a
NewSCI.exe
*.out
*.app
*.ilk
*.pdb
*.sdf
*.VC.*
*.suo
NewSCI.lib
NewSCI.ipdb
NewSCI.iobj
NewSCI.exp
